@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Acumin Pro Cond Black";
  src: url("/font/AcuminProCond-Black.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Acumin Pro Cond Medium";
  src: url("/font/AcuminProCond-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url("/font/Segoe-UI.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI Bold";
  src: url("/font/Segoe-UI-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-acumin-black {
  font-family: "Acumin Pro Cond Black", sans-serif;
}

.font-acumin-medium {
  font-family: "Acumin Pro Cond Medium", sans-serif;
}

.font-segoeUI {
  font-family: "Segoe UI", sans-serif;
}

.font-segoeUI-bold {
  font-family: "Segoe UI Bold", sans-serif;
}
